@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.breadcrumb-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 12px;
}
.breadcrumb-item a {
  color: #1e293b;
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #dc8513;
}
.btn-outline-secondary {
  border-color: #e8e8e8;
  border-radius: 22px;
}

.voteBtnText {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
.borderRadius30 {
  border-radius: 30px;
}

.picksHeading {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}
.borderRadius12 {
  border-radius: 12px;
}
.greyBorder {
  border: 2px solid #6b788a;
  overflow: auto;
}
.cardText {
  font-size: 14px;
  font-weight: 500;
  color: #475467;
  line-height: 27px;
}

.subscriptionDiv {
  background: url("../images/subBg.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.subscriptionDiv input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: 400;
}
.subscriptionDiv input::placeholder {
  color: #3c3636;
}
.subsText {
  font-size: 20px;
  font-weight: 600;
  color: #1e293b;
  line-height: 30px;
}
.hidden {
  display: none;
}
.header p {
  margin: 0;
  text-align: center;
}

.message {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.place{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #475467;
}
.navbar-toggler {
  background: #f8a53824;
  border: 0.5px solid #f8a538;
  padding: 5px 7px !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-icon {
  color: #f8a538;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 250px;
  height: auto;
}

.nav-link {
  color: #1e293b;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover,
.nav-link.active {
  color: #dc8513;
  font-weight: 600;
}
.nav-item {
  position: relative;
}

.premium {
  position: absolute;
  right: 12px;
  top: 0px;
}

.contact-info {
  color: #dc8513;
  font-size: 14px;
  font-weight: 600;
}

.searchbtn {
  border: 1px solid #ddd;
  background: #f8f8f8;
}

.btn-signin a {
  color: #dc8513 !important;
  border-color: #dc8513 !important;
  text-decoration: none;
}

.varities {
  background: #dc8513;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.varities::-webkit-scrollbar {
  display: none;
}

.listofvarities {
  display: flex /* display: flex; */ ex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.varities li {
  padding: 0 2.5rem;
  font-size: 14px;
  border-right: 1px solid white;
}
.varities li a {
  color: white;
  text-decoration: none;
}

.varities li:last-child {
  border-right: none;
}

.internationalSpot {
  background: #37474f; /* Dark background */
  color: white; /* Text color */
  font-size: 14px;
  border: 1px solid #ddd; /* Light border */
  overflow: hidden;
  padding: 5px 0;
}

/* Scrolling Container */
.scrolling-container {
  overflow: hidden; /* Hide overflow */
  width: 100%;
  position: relative;
}

/* Scrolling List */
.scrolling-list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 2rem; /* Spacing between items */
  animation: scroll-left 25s linear infinite;
}

/* Scrolling Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Individual List Items */
.scrolling-list li {
  white-space: nowrap;
  font-size: 14px;
}

/* Profit and Loss Styling */
.deviation.profit {
  color: #4caf50; /* Green for profit */
}

.deviation.loss {
  color: #e53935; /* Red for loss */
}

/* Icons */
.bi {
  font-size: 14px;
  margin-right: 4px;
}

.footer {
  background-color: #1f2937; /* Dark background */
  color: #fff; /* White text */
  padding: 40px 0 0 0;
}

.footer-logo img{
  width: 242px;
  height: 77px;
}


.footer-logo p{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; 
  color: #FFFFFF80;
 
}

.categeory h5{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #F8A538;
}
.categeory ul li a{
  font-size: 15px;
  font-weight: 500;
  line-height: 22.51px;
  letter-spacing: -0.20px;
  
}
.categeory ul li{
  margin-bottom: 12px;
}
.categeory p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24.01px;
}
.categeory span {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  
}
.copyright, .copyright a{
  font-family: Poppins;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.20px;
}
.builtHeading{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #1E293B;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.social-icons h5{
  font-size: 17px;
  font-weight: 700;
  line-height: 25.5px;
}

.social-icons i {
  font-size: 24px;
  margin-right: 15px;

}

.footer .social-icons a:hover {
  color: #f59e0b; /* Gold color on hover */
}


.newsCard{
    background: linear-gradient(180deg, #fff, #fffaf4);
}

.newsCard p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1e293b;
    /* Restricting number of lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ltSpacept8{
  letter-spacing: 0.8px;
}
.recText {
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  line-height: 21px;
  /* Restricting number of lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeText2 {
  font-size: 14px;
  font-weight: 400;
  color: #97989f;
  line-height: 21px;
  /* Restricting number of lines */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeText2 span{
  font-weight: 500;
  color: #475467;
}
.headDiv h4{
  font-size: 28px;
  font-weight: 600;
  color: #1e293b;
  line-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tableHeaderColor{
    background-color: #DC8513;
    color: #FFF;
    font-weight: 600;
}
.tableText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 21px;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.topTable-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.tableText tbody tr td {
    color: #475467 ;
    border-right: 0.5px solid #979797;
}
.table td:first-child {
    padding-left: 15px;
}
.table th:first-child {
    padding-left: 15px;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.nav-link{
    color: #475467;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}
.nav-link:hover{
    color: #707070;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DC8513;
    background-color: #FEF9F0;
    border: 1px solid #DC8513;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 6px 16px;
}
.profitBg{
  background-color: #EBF7F1;
  padding: 5px;
  border-radius: 9px;
}
.lossBg{
  background-color: #FFE2E2;
  padding: 5px;
  border-radius: 9px;
}
.builtDate {
  padding: 0; /* Removes default padding */
  margin: 0;  /* Removes default margin */
  vertical-align: middle; /* Ensures vertical alignment */
  background-color: transparent; /* Matches the row background */
}

/* Optional: Fine-tune inner spacing */
.builtDate span {
  display: inline-block;
  padding: 0.25rem; /* Add spacing if needed */
}
.builtDate p{
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
td{
  vertical-align: middle;
}
.expiration{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
.element{
  font-weight: 600;
}

/* Ensure consistent hover effects (if row hover is used) */
.table tbody tr:hover .builtDate {
  background-color: inherit; /* Matches the hover color of the row */
}

.table>:not(:last-child)>:last-child>* {
  background-color: #6B788A;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}
.slate td{
  background-color: #F2EFEF;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}
td{
  padding: 4px 0 !important;
  min-width: 140px;
}
.page-link {
  margin-right: 5px;
  border-radius: 8px;
  color: #475467;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}
.page-item.active .page-link {
  background-color: #DC8513;
  border-color: #DC8513;
}
.page-item.disabled .page-link {
  border: none;
  color: #cccccc;
}
.nextBtn{
  border: none;
}
.greyBorder::-webkit-scrollbar{
  display: none;
}

@media (max-width: 992px) {
  .message {
    font-size: 10px;
  }

  .navbar-brand img {
    width: 180px;
  }
  .premium {
    position: relative;
  }

  .contact-info {
    margin-bottom: 10px;
    text-align: center;
  }

  .varities li {
    padding: 0 0.75rem;
  }
}

@media screen and (max-width: 900px) {
  .timeText {
    font-size: 11px;
    line-height: 17px;
    color: #97989f;
  }
  .headDiv h4{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 28px;
  }
  .timeText2{
  font-size: 12px;
  line-height: 18px;
  }
  .timeText2 span{
    font-weight: 500;
    color: #1e293b;
  }
  .person {
    display: inline;
    color: #1e293b;
    font-weight: 500;
  }
  .picksText {
    font-size: 12px;
    line-height: 18px;
    color: #404040;
  }
  .recText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  .tableHeading {
    font-size: 18px;
    line-height: 27px;
  }
.tableHeaderColor{
    font-size: 12px;
}
.nav-link{
    font-size: 14px;
    line-height: 21px;
}
  .btn-primary {
    color: #dc8513;
    background-color: #fff;
  }
  .toHide {
    display: none;
  }
  .hidden {
    display: inline;
  }
  .dateText {
    line-height: 17px;
  }
  .newsText {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1e293b;
  }
  .newsText2{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #636363;
  }
  .picksHeading {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1e293b;
  }

  .paginationDiv {
    padding-right: 24px;
  }
  .pollHeading {
    font-size: 18px;
  }
  .voteBtnText {
    font-weight: 500;
  }
  .location , .headline{
    color: #000;
  }
}
