body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.header p {
    margin: 0;
    text-align: center;
}

.message {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    }
.navbar-toggler{
    background: #F8A53824;
    border: 0.5px solid #F8A538;
    padding:5px 7px !important;

} 
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-icon{
    color: #F8A538;

}   

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 250px;
    height: auto;
}

.nav-link {
    color: #1E293B;
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover,
.nav-link.active {
    color: #DC8513;
    font-weight: 600;
}
.nav-item{
    position: relative
}

.premium{
    position: absolute;
    right: 12px;
    top: 0px;
}

.contact-info {
    color: #DC8513;
    font-size: 14px;
    font-weight: 600;
}

.searchbtn {
    border: 1px solid #ddd;
    background: #f8f8f8;
}

.btn-signin a{
    color: #DC8513 !important;
    border-color: #DC8513 !important;
    text-decoration: none;
}

.varities {
    background: #DC8513;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.varities::-webkit-scrollbar {
    display: none;
}

.listofvarities {
    display: flex    /* display: flex; */
    ex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.varities li {
    padding: 0 2.5rem;
    font-size: 14px;
    border-right: 1px solid white;

}
.varities li a{
    color: white;
    text-decoration: none;
}


.varities li:last-child {
    border-right: none;
}


.internationalSpot {
    background: #37474F; /* Dark background */
    color: white;       /* Text color */
    font-size: 14px;
    border: 1px solid #ddd; /* Light border */
    overflow: hidden;
    padding: 5px 0;
}

/* Scrolling Container */
.scrolling-container {
    overflow: hidden; /* Hide overflow */
    width: 100%;
    position: relative;
}

/* Scrolling List */
.scrolling-list {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2rem; /* Spacing between items */
    animation: scroll-left 25s linear infinite;
}

/* Scrolling Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Individual List Items */
.scrolling-list li {
    white-space: nowrap;
    font-size: 14px;
}

/* Profit and Loss Styling */
.deviation.profit {
    color: #4CAF50; /* Green for profit */
}

.deviation.loss {
    color: #E53935; /* Red for loss */
}

/* Icons */
.bi {
    font-size: 14px;
    margin-right: 4px;
}

@media (max-width: 992px) {
    .message {
        font-size: 10px;
    }

    .navbar-brand img {
        width: 180px;
    }
    .premium{
        position: relative;
    }

    .contact-info {
        margin-bottom: 10px;
        text-align: center;
    }

    .varities li {
        padding: 0 0.75rem;
    }
}


/* topnews css */

.top-news-heading {
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.carousel-item img{
    width: 830px;
    height: 336px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;


}

.custom-checkbox {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 3px;
        margin-right: 8px;
        background-color: white;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"]:checked {
        background-color: orange;
        border-color: orange;
    }

    .custom-checkbox input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
.carousel-control{
    
}
.carousel-caption {
    /* background: rgba(0, 0, 0, 0.5);
    
    padding: 15px;
    border-radius: 5px; */

    font-family: Poppins;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.news-card img {
    object-fit: cover;
    width: 193px;
    height: 100px;
    border-radius: 10px 0px 0px 0px;
}
.news-card-title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #707070;
    
}
.news-card-footer a{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #707070B2 !important;
    
}


 .carousel-item2{
    width: 341px !important;
    height: 187px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    position: relative;

}
.carousel-item2 img{
    width: 341px !important;
    height: 187px;
}

 .carousel-item2 .carousel-caption
{
    position: absolute;
    bottom: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.20000000298023224px;


}



/* === long and short builtup */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
}


.tableHeaderColor tr{
    background-color: #DC8513 !important;
    color: #FFF;
    font-weight: 600;
}
.tableText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 21px;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.topTable-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.tableText tbody tr td {
    color: #475467 ;
}
.table td:first-child {
    padding-left: 15px;
}
.table th:first-child {
    padding-left: 15px;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.borderRadius10{
    border-radius: 10px;
}
select.form-select option:checked {
    background-color: #DC8513;
    color: black;
  }
.cardBg{
    background-color: #FEF9F0;
}
@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
    .tableHeaderColor{
        font-size: 12px;
    }
}


/*   technical analysis */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
}
.tableHeaderColor{
    background-color: #DC8513;
    color: #FFF;
    font-weight: 600;
}
.tableText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 21px;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.topTable-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.tableText tbody tr td {
    color: #475467 ;
}
.table td:first-child {
    padding-left: 15px;
}
.table th:first-child {
    padding-left: 15px;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.nav-link{
    color: #707070;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.nav-link:hover{
    color: #707070;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DC8513;
    background-color: #FEF9F0;
    border: 1px solid #DC8513;
    border-radius: 20px;
}

@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
    .tableHeaderColor{
        font-size: 12px;
    }
    .nav-link{
        font-size: 14px;
        line-height: 21px;
    }
}


/* <!-- Exclusive report --> */


*{
    font-family: "Poppins", sans-serif;
}


/* Market comentry */


.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.newsText{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.9px;
    color: #707070;
}
.dateText{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #707070;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.newsDiv > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsDiv > div > img{
    min-height: 100px;
}
.newsDiv::-webkit-scrollbar{
    display: none;
}
.lightBorder{
    border: 0.5px solid #E0E0E0;
}
.borderRadius10{
    border-radius: 10px;
}

@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
}

/* spot market data */


.tableHeaderColor{
    background-color: #DC8513;
    color: #FFF;
    font-weight: 600 !important;
}
.tableText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 21px;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.topTable-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.tableText tbody tr td {
    color: #475467 ;
}
.table td:first-child {
    padding-left: 15px;
}
.table th:first-child {
    padding-left: 15px;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.nav-link{
    color: #707070;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.nav-link:hover{
    color: #707070;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DC8513;
    background-color: #FEF9F0;
    border: 1px solid #DC8513;
    border-radius: 20px;
}
.hiddenCell{
    display: none;
}
.table td, .table th {
    vertical-align: middle;
}
th > p, td >p{
    margin: 0;
}
@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
    .tableHeaderColor{
        font-size: 12px;
    }
    .nav-link{
        font-size: 14px;
        line-height: 21px;
    }
    .toHideCell{
        display: none;
    }
    .hiddenCell{
        display: block;
    }
}

/* More news */







/* cc-poll */

.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.pollHeading{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #1E293B;
}
.borderRadius30{
    border-radius: 30px;
}
.cardBg{
    background-color: #FEF9F0;
}
.cardText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 27px;
}
.pollLabelText{
    font-size: 16px;
    font-weight: 500;
    color: #1E293B;
    line-height: 24px;
}
.btn-primary {
    color: #fff;
    background-color: #DC8513;
    border-color:  #DC8513;
    box-shadow: none;
}
.btn-primary:hover {background-color: #DC8513;
    border-color:  #DC8513;
}
.btn-primary:focus{
    background-color: #DC8513;
}
.btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(220,133,19,.5);
} 
.voteBtnText{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
input[type="radio"] {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: transparent;
    margin-left: 10px;
    position: relative;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + .custom-radio {
    background: url('./teenyicons_tick-circle-solid.svg') no-repeat ;
    height: 22px;
    width: 22px;
    background-size: contain;
    border-color: transparent;
}

.custom-radio:hover {
    border-color: #aaa;
}

@media screen and (max-width:900px) {
    .pollHeading{
        font-size: 18px;
    }
    .voteBtnText{
        font-weight: 500;
    }
}



/* footer */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .footer {
    background-color: #1f2937; /* Dark background */
    color: #fff; /* White text */
    padding: 40px 0;
  }
  
  .footer .footer-logo {
    font-size: 20px;
    font-weight: 600;
    color: #f59e0b; /* Gold color */
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .social-icons a {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
  }
  
  .footer .social-icons a:hover {
    color: #f59e0b; /* Gold color on hover */
  }
  
  .footer .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #cbd5e0; /* Light gray */
  }
  
