@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.newsText{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #707070;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.newsDiv > div{
    display: flex;
    flex-direction: column;
}
.newsDiv > div > img{
    height: 111px;
}
.newsDiv::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
}