@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* border: 1px solid red; */
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* Scrolling Container */
.scrolling-container {
    overflow: hidden; 
    width: 100%;
    position: relative;
}
.scrolling-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2rem; 
    animation: scroll-left 25s linear infinite;
}
.scrolling-list li {
    white-space: nowrap;
}

/* Scrolling Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} 

/* <!-- Message Bar --> */
.message {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

/* <!-- International Spot Marquee --> */
.internationalSpot {
    background: #37474F; /* Dark background */
    color: white;       /* Text color */
    overflow: hidden;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
}
.internationalSpot li{
    display: flex;
    align-items: center;
}

/* Profit and Loss Styling */
.deviation.profit {
    color: #4CAF50;
}
.deviation.loss {
    color: #E53935;
}
.deviation{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
}
.deviation i {
    font-size: 24px;
    margin: 0px!important;
}

/*  <!-- Navbar --> */

#navbarNav{
    flex-direction: row;
}
.navbar-toggler{
    background: #F8A53824;
    border: 0.5px solid #F8A538;
    padding:5px 7px !important;

} 
.searchbtn,.navbar-toggler{
    width: 43px;
    height: 43px;

} 
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-icon{
    color: #F8A538;
}  
.navbar-brand img {
    width: 250px;
    height: auto;
}

.navbar-nav .nav-link.active{
    color: #1E293B;
}


.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1E293B;
}

.nav-link:hover,
.nav-link.active {
    color: #DC8513;
    font-weight: 600;
}
.nav-item{
    position: relative;
}

.premium{
    position: absolute;
    right: 13px;
    top: 2px;
}

.contact-info, .btn-signin {
    color: #DC8513;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.01px;
}
.searchbtn {
    border: 1px solid #ddd;
    background: #f8f8f8;
}

.btn-signin{
    color: #DC8513 !important;
    border-color: #DC8513 !important;
    text-decoration: none;
}
.btn-signin:hover{
    color: white !important;
    background-color: #DC8513;
}

/*  <!-- Varieties Section --> */
.varities {
    background: #DC8513;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.varities::-webkit-scrollbar {
    display: none;
}

.listofvarities {
    display: flex;    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.varities li {
    padding: 0 2rem;
    font-size: 14px;
    border-right: 1px solid #FFFFFF;
}

.varities li:last-child {
    border-right: none;
}

.varities li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* Icons */

@media (max-width: 992px) {

    #navbarNav{
        flex-direction: column;
    }
    .message {
        font-size: 12px;
        line-height: 18px;
    }
    .internationalSpot {
        font-size: 12px;
        font-weight: 500;
        line-height: 22.5px;
    }
    .deviation{
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }
    .navbar-brand img {
        width: 172px;
    }
    .premium{
        position: relative;
    }
    .contact-info {
        margin-bottom: 10px;
        text-align: center;
    }
    .varities li {
        padding: 0 0.75rem;
    }
    .varities li a{
        font-size: 14px;
        line-height: 21px;
    }
}



/* topnews css */


.carousel-item img{
    width: 830px;
    height: 336px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;


}
/* .carousel-control-prev-icon {
    background-image:url('images/Nexticon.svg')
}

.carousel-control-next-icon{
    background-image:url('images/Previous.svg')

} */

.custom-checkbox {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 3px;
        margin-right: 8px;
        background-color: white;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"]:checked {
        background-color: orange;
        border-color: orange;
    }

    .custom-checkbox input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .custom-checkbox > span{
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }
.carousel-control{
    
}
.carousel-caption {
    font-family: Poppins;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.carousel-item a{
    color: white !important;
    text-decoration: none;
}
.news-card img {
    object-fit: fill;
    /* width: 193px; */
    height: 100px;
    border-radius: 10px;
}
.news-card-title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    height: 2.4rem;
    line-height: 21px !important;
    text-align: left;
    color: #707070;
    
}

.news-card-footer a{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #707070B2 !important;
    
}


 .carousel-item2{
    width: 341px !important;
    height: 187px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    position: relative;

}
.carousel-item2 img{
    width: 341px !important;
    height: 187px;
}

 .carousel-item2 .carousel-caption
{
    position: absolute;
    bottom: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.20000000298023224px;


}


/* === long and short builtup */


a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
}




/* Orange table */

.tableHeaderColor th{
    background-color: #DC8513 !important;
    color: #FFF;
    font-weight: 600;
}
.tableText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 21px;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.topTable-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.viewMore{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}
.tableText tbody tr td {
    color: #475467 ;
}
.table td:first-child {
    padding-left: 15px;
}
.table th:first-child {
    padding-left: 15px;
}
.tableHeading{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E293B;
}
.borderRadius10{
    border-radius: 10px;
}
select.form-select option:checked {
    background-color: #DC8513;
    color: black;
  }
.cardBg{
    background-color: #FEF9F0;
}
@media screen and (max-width:900px) {
    .tableHeading{
        font-size: 18px;
        line-height: 27px;
    }
    .tableHeaderColor{
        font-size: 14px;
    }
}


/*   technical analysis */

.nav-link{
    color: #707070;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.nav-link:hover{
    color: #707070;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DC8513;
    background-color: #FEF9F0;
    border: 1px solid #DC8513;
    border-radius: 20px;
}

@media screen and (max-width:900px) {

    .nav-link{
        font-size: 14px;
        line-height: 21px;
    }
}


/* <!-- Exclusive report --> */

/* Videos */

.vidoessection{
    border: 1px solid #E2E8F0;
    border-radius: 16px;
}
/* .video{
    border-bottom: 1px solid #E2E8F0

} */
.video:not(:last-of-type) {
    border-bottom: 1px solid #E2E8F0; /* Replace #000 with your desired color */
    padding-bottom: 15px; /* Optional: Add padding for spacing */
    margin-bottom: 15px; /* Optional: Add margin for spacing between sections */
}
.tagline{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #707070;
}
.descript{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #1E293B;


}
.video > img{
    height: 85px;
    object-fit: cover;
    border-radius: 8px;
}


/* Market comentry */

.newsText{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.9px;
    color: #707070;
}
.dateText{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #707070;
}

.newsDiv > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsDiv > div > img{
    min-height: 100px;
}
.newsDiv::-webkit-scrollbar{
    display: none;
}
.lightBorder{
    border: 0.5px solid #E0E0E0;
}
.lightBorder img{
    vertical-align: middle;
    width: 194px;
    height: 130px;
    border-radius: 8px 8px 0px 0px;
}


.borderRadius10{

}
.borderRadius10 > img{
    height: 155px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;

}
.reportText{
    color: #707070;
}

/* special report */





/* spot market data */

.hiddenCell{
    display: none;
}
.table td, .table th {
    vertical-align: middle;
}
th > p, td >p{
    margin: 0;
}
@media screen and (max-width:900px) {


    .toHideCell{
        display: none;
    }
    .hiddenCell{
        display: block;
    }
}

/* More news */


/* cc-poll */

.pollHeading{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #1E293B;
}
.borderRadius30{
    border-radius: 30px;
}
.cardBg{
    background-color: #FEF9F0;
}
.cardText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 27px;
}
.pollLabelText{
    font-size: 16px;
    font-weight: 500;
    color: #1E293B;
    line-height: 24px;
}
.btn-primary {
    color: #fff;
    background-color: #DC8513;
    border-color:  #DC8513;
    box-shadow: none;
}
.btn-primary:hover {background-color: #DC8513;
    border-color:  #DC8513;
}
.btn-primary:focus{
    background-color: #DC8513;
}
.btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(220,133,19,.5);
} 
.voteBtnText{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
input[type="radio"] {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: transparent;
    margin-left: 10px;
    position: relative;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + .custom-radio {
    background: url('images/teenyicons_tick-circle-solid.svg') no-repeat ;
    height: 22px;
    width: 22px;
    background-size: contain;
    border-color: transparent;
}

.custom-radio:hover {
    border-color: #aaa;
}

@media screen and (max-width:900px) {
    .pollHeading{
        font-size: 18px;
    }
    .voteBtnText{
        font-weight: 500;
    }
}



/* footer */

  .footer {
    background-color: #1f2937; /* Dark background */
    color: #fff; /* White text */
    padding: 40px 0 0 0;
  }

  .footer-logo img{
    width: 242px;
    height: 77px;
  }


  .footer-logo p{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px; 
    color: #FFFFFF80;
   
  }

  .categeory h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #F8A538;
  }
  .categeory ul li a{
    font-size: 15px;
    font-weight: 500;
    line-height: 22.51px;
    letter-spacing: -0.20px;
    
  }
  .categeory ul li{
    margin-bottom: 12px;
  }
  .categeory p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24.01px;
  }
  .categeory span {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    
  }
  .copyright, .copyright a{
    font-family: Poppins;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.20px;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  .social-icons h5{
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
  }
  
.social-icons i {
    font-size: 24px;
    margin-right: 15px;

}
  
  .footer .social-icons a:hover {
    color: #f59e0b; /* Gold color on hover */
  }
