@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
}
.table-rounded {
    border-radius: 15px;
    overflow: hidden;
}
.tableBorder{
    border: 1px solid #DC8513;
}
.pollHeading{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #1E293B;
}
.borderRadius30{
    border-radius: 30px;
}
.cardBg{
    background-color: #FEF9F0;
}
.cardText{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    line-height: 27px;
}
.pollLabelText{
    font-size: 16px;
    font-weight: 500;
    color: #1E293B;
    line-height: 24px;
}
.btn-primary {
    color: #fff;
    background-color: #DC8513;
    border-color:  #DC8513;
    box-shadow: none;
}
.btn-primary:hover {background-color: #DC8513;
    border-color:  #DC8513;
}
.btn-primary:focus{
    background-color: #DC8513;
}
.btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(220,133,19,.5);
} 
.voteBtnText{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
input[type="radio"] {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: transparent;
    margin-left: 10px;
    position: relative;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + .custom-radio {
    background: url('./teenyicons_tick-circle-solid.svg') no-repeat ;
    height: 22px;
    width: 22px;
    background-size: contain;
    border-color: transparent;
}

.custom-radio:hover {
    border-color: #aaa;
}

@media screen and (max-width:900px) {
    .pollHeading{
        font-size: 18px;
    }
    .voteBtnText{
        font-weight: 500;
    }
}
